/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* css reset sekarang css asli */
body {
    /* background: rgb(255, 255, 80); */
    background: rgb(224, 224, 72);
    /* background: yellow; */
    font-family: arial;
}
b {
    font-weight: bold;
}
/* bar */
.bar {
    padding: 15px;
}
.bar ul > li {
    display: inline-block;
    text-align: center;
}
.bar ul > li::before {
    margin: 0 8px;
    content: ":";
    color: white;
}
.bar ul > li:first-child::before {
    content: "/";
    color: white;
}
.bar ul > li > a {
    text-decoration: none;
    color: #eee;
    border-bottom: 1px solid white;
}
.bar ul > li > a:hover {
    color: black;
}
.bar ul > li:last-child > a {
    text-decoration: none;
    color: #ccc;
    border: none;
}

/* container */
.container {
    margin: 0 auto;
    padding: 12px;
    max-width: 800px;
    background: #202c2d;
    border: 1px dotted #fff;
    border-radius: 5px;
    position: relative;
}
.container > h1 {
    font-size: 180%;
    padding: 8px;
    color: #ccc;
}
.container p {
    text-indent: 15px;
    margin-bottom: 18px;
    line-height: 17px;
    word-spacing: 5px;
    text-align: justify;
    font-size: 94%;
    color: white;
    padding: 8px;
}

/* contoh */
.sampul {
    max-width: 100%;
    color: white;
    background: #64BADE;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 2px 1px 0 black;
}
.sampul pre {
    color: white;
    margin: 0 50px 0 -50px;
    padding: 5px;
    line-height: 30px;
}
.sampul h1 {
    font-size: 140%;
}
.sampul p {
    margin: 0;
}

ol {
    list-style-type: disc;
    margin-left: 40px;
}
ol li {
    line-height: 17px;
    word-spacing: 5px;
    text-align: justify;
    padding: 0 20px 0 5px;
    margin-bottom: 10px;
    font-size: 90%;
}

.sampul_1 {
    background-color: red;
}
.sampul_1 p {
    color: yellow;
    font-size: 14px;
}

/* clear float */
.cf:before, .cf:after {
    content: " "; 
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}

