<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Layout</title>
        <link rel="stylesheet" href="../css.css">
        <style type="text/css">
            .inline {
                display: inline;
            }
            .block {
                display: block;
            }
        </style>
    </head>
    <body>
        <div class="bar">
            <ul>
                <li><a href="../../index.html">Home</a></li>
                <li><a href="../../index.html#Article">Article</a></li>
                <li><a href="../../index.html#css">CSS</a></li>
                <li><a href="../../index.html#css">Dasar</a></li>
                <li><a href="#">Introduction CSS</a></li>
            </ul>
        </div>
        <div class="container">
            <h1>Block-Level Elements</h1> <!--Block level element-->
            <p style="background: gold;">Take up the full width</p>
            <ul style="background: yellow;">
                <li style="background: yellowgreen;"></li>
            </ul>
            <ol style="background: green;"></ol>
            <form style="background: greenyellow;"></form>
            <section style="background: royalblue;"></section>
            <header style="background: blue;"></header>
            <nav style="background: blueviolet;"></nav>
            <main style="background: violet;"></main>
            <footer style="background: pink;"></footer>
            <div>and akways start on a new line</div>
    
            <span>Inline element</span>
            <i>Don't take up the full</i>
            <a href="#">Width and does not start on a new line</a>
            <img src="pp.jpg" style="width: 16px; height: 16px;"/>
    
            <ul>
                <li class="inline">Apple</li>
                <li class="inline">Orange</li>
                <li class="inline">Bananas</li>
                <li class="inline">Mangaos</li>
            </ul>
            <span class="block">Hello World</span>
            <span class="block">Ardi</span>
            <p>Hello world</p>
            <img style="display: none" src="pp.jpg"/>
            <p>Ardii</p>
            <p>Hello world</p>
            <img style="visibility: hidden" src="pp.jpg"/>
            <p>Ardii</p>
        </div>
    </body>
</html>